---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Image from "astro/components/Image.astro";
import cleaning from "../assets/images/cleaning.svg";
import fish_plastic from "../assets/images/fish_plastic.svg";
import plasticwhale from "../assets/images/plasticwhale.svg";
import skraldebil from "../assets/images/skraldebil.svg";
---
<MainLayout title="Titel">
    <section id="problemet_med_plastikforurening" class="bg-secondary-100 text-primary-100">
        <h2>Problemet med plastikforurening</h2>
        <p>Plastikforurening truer vores planet og dens økosystemer. Følgende statistikker understreger alvoren af plastikforureningens påvirkning på miljøet, sundheden, økonomien og klimaet, og viser hvor stort behovet er for handling på globalt plan for at tackle udfordringen.</p>

    </section>
</MainLayout>