---
import Button from '../components/Button.astro';
---
<section>
  <div class="p-8">
    <nav class="list-none flex justify-end text-primary-100 font-medium">
        
      <div class="flex gap-20 items-center">
        <div class="">
          <li><a href="#problemet_med_plastikforurening">Hvad skal jeg vide?</a></li>
        </div>
        <div class="">
          <li><a href="#sektion3">Vores mission</a></li>
        </div>
        <div class="">
          <li><a href="#horisontalscrollsection">Hvordan kan jeg hjælpe?</a></li>
        </div>
        <div>
           <a href="#saadan_kan_du_stoette">
              <Button variant="primary"><p class="px-4">støt</p></Button>
           </a>
        </div>
        
      </div>
         
    </nav>

  </div>  
</section>

