---
---
<section>
  <div class="p-8">
    <nav class="list-none flex justify-end ">
        
      <div class="flex gap-20">
        <div class="">
          <li><a href="#sektion2">Hvad skal jeg vide?</a></li>
        </div>
        <div class="">
          <li><a href="#sektion3">Hvordan kan jeg hjælpe?</a></li>
        </div>
        <div class="">
          <li><a href="#sektion4">Vores mission</a></li>
        </div>
      </div>
      <button></button>
    </nav>

  </div>  
</section>

