---
import Button from '../components/Button.astro';
---
<section>
  <div class="p-8">
    <nav class="list-none flex justify-end text-primary-100 font-medium">
        
      <div class="flex gap-20 items-center">
        <div class="">
          <li><a href="#sektion2">Hvad skal jeg vide?</a></li>
        </div>
        <div class="">
          <li><a href="#sektion3">Hvordan kan jeg hjælpe?</a></li>
        </div>
        <div class="">
          <li><a href="#sektion4">Vores mission</a></li>
        </div>
        <div>
          <Button variant="primary"><p class="px-4">støt</p></Button>
        </div>
        
      </div>
         
    </nav>

  </div>  
</section>

