---
import { Image } from "astro:assets";
import Hero from "../assets/hero.svg";
---


<section>
    <h1>#SINGLEUSESUCKS</h1>

    <Image src={Hero} alt="Københavnerbilleder bogforside" class="-ml-72 w-full" />
</section>