---
import { Image } from "astro:assets";
import Hero from "../assets/hero.svg";
---


<section>
    <div class="ml-24">
        <h1 class="mt-24 ">#SINGLEUSESUCKS</h1>
        <h2 class="-mt-6 text-cyan-400">kampen mod plastik i havet</h2>
    </div>
    <Image src={Hero} alt="skrald i hav" class="mt-36 w-full" />
</section>