---
---


<section class="pb-24 -mt-48 ml-24">
    <div class="absolute -mt-96 ml-64 text-secondary-100">
        <h3>Hvad er plastikforurening?</h3>
        <p class="italic">“Plastik definerer vores kultur. Vi må ikke lade den definere vores fremtid.”</p>
        <p class="pt-5">Henrik Beha Pedersen, 2014</p>
    </div>
        <div class="text-secondary-100 ml-64 w-5/12">

        <p>Plastikforurening opstår, når plastikmaterialer ikke nedbrydes naturligt og ender i naturen. Det omfatter alt fra plastikposer til mikroplastpartikler, der skader miljøet og dyreliv. Plastikforurening er en alvorlig trussel mod vores økosystemer og har betydelige konsekvenser for både naturen og menneskers sundhed. Bekæmpelse af plastikforurening er afgørende for at bevare vores planet og sikre en bæredygtig fremtid.</p>

    </div>
</section>

