---
---
<section class="bg-primary-100 text-secondary-100">
    <article>
        <h2 class="text-center py-20">Vores mission</h2>
        <div class="md:grid grid-cols-2 xl:grid-cols-3 gap-20 mx-20 xl:mx-44 mb-20 lg:mb-40">
            <div class="grid justify-items-center items-center mb-20 md:mb-0">
                <img src="plastik_produktion.svg" alt="">
            </div>
            <div class="md:grid xl:col-span-2">
                <h3 class="mb-7">Vi kæmper for et affaldsfrit samfund, hvor plastik bruges igen og igen</h3>
                <div class="md:w-3/4">
                    <p class="mb-5">I 2017 blev der produceret svimlende 322 millioner tons plastik på verdensplan, og produktionen af plastik forventes at firedobles inden 2050.</p>
                    <p>Plastic Change er blandt andet sat i søen for at forhindre, at noget af dette sker.</p>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="md:grid grid-cols-2 mx-20 mb-20 md:mb-32 missionerinview">
            <div class="grid justify-items-center mb-20 md:mb-0 mission1">
                <h4 class="text-accent-100 italic">Mindre og bedre plastik</h4>
                <img src="genbrug.svg" alt="" class="w-1/2 sm:w-2/5 xl:w-1/4 my-20 md:my-16">
                <div class="md:w-3/5">
                    <p class="mb-5">Målet om at udfase engangsplast og skabe bedre genbrugsløsninger er en del af alt, hvad vi laver.</p>
                    <p>Vi arbejder mod en fremtid, hvor reduktion af vores plastikforbrug - særligt engangsplastik, står øverst og fylder mest, dernæst mere og bedre design til genbrug og til sidst at øge genanvendelsen.</p>
                </div>
            </div>
            <div class="grid justify-items-center mb-20 md:mb-0 mission2">
                <h4 class="text-accent-100 italic">Generationers forberedelse</h4>
                <img src="sol.svg" alt="" class="w-1/2 sm:w-2/5 xl:w-1/4 my-20 md:my-16">
                <div class="md:w-3/5">
                    <p class="mb-5">Plastic Change vil ruste kommende generationer til en grønnere fremtid.</p>
                    <p>Derfor har vi udviklet gratis undervisningsmateriale til folkeskole-og gymnasieelever, der oplyser, uddanner og engagerer eleverne i kampen mod plastikforurening.</p>
                </div>
            </div>
            <div class="grid justify-items-center mx-20 xl:mx-96 pb-20">
                <h4 class="text-accent-100 italic">#WeChooseReuse</h4>
                <img src="bjerg.svg" alt="" class="w-1/2 sm:w-2/5 md:w-1/4 my-20 md:my-16">
                <div class="md:w-2/5 xl:w-1/2">
                    <p class="mb-5">Produktionen af engangsplastik har ført til stigende plastikforurening, øget CO2-udledning, enorme affaldsbjerge og er et ubæredygtigt træk på jordens begrænsede ressourcer.</p>
                    <p>Genbrug er brug af det samme produkt igen og igen, i stedet for at produktet bliver til affald efter én gangs brug.</p>
                </div>
            </div>
        </div>
    </article>
</section>
<script>
    import {animate, stagger, inView, scroll} from "motion";

    inView(".missionerinview", ({ target }) =>{
        animate(target.querySelectorAll(".mission1, .mission2"), { x: [-2000, 0] },
        { duration: 1, delay: stagger(0.5, { start: 0.25 })
    })
    })
</script>