---
---
<section class="bg-primary-100 text-secondary-100">
    <article>
        <h2 class="text-center">Vores mission</h2>
        <div class="grid grid-cols-3 gap-20 px-32 py-20">
            <div class="grid justify-items-center items-center">
                <img src="plastik_produktion.svg" alt="">
            </div>
            <div class="grid col-span-2">
                <h3 class="mb-7">Vi kæmper for et affaldsfrit samfund, hvor plastik bruges igen og igen</h3>
                <p class="mb-5">I 2017 blev der produceret svimlende 322 millioner tons plastik på verdensplan, og produktionen af plastik forventes at firedobles inden 2050.</p>
                <p>Plastic Change er blandt andet sat i søen for at forhindre, at noget af dette sker.</p>
            </div>
        </div>
    </article>
</section>