---
---


<!-- <section class="pb-24 -mt-48 ml-24">
    <div class="absolute -mt-96 ml-64 text-secondary-100">
        <h3>Hvad er plastikforurening?</h3>
        <p class="italic">“Plastik definerer vores kultur. Vi må ikke lade den definere vores fremtid.”</p>
        <p class="pt-5">Henrik Beha Pedersen, 2014</p>
    </div>
        <div class="text-secondary-100 ml-64 w-5/12">

        <p>Plastikforurening opstår, når plastikmaterialer ikke nedbrydes naturligt og ender i naturen. Det omfatter alt fra plastikposer til mikroplastpartikler, der skader miljøet og dyreliv. Plastikforurening er en alvorlig trussel mod vores økosystemer og har betydelige konsekvenser for både naturen og menneskers sundhed. Bekæmpelse af plastikforurening er afgørende for at bevare vores planet og sikre en bæredygtig fremtid.</p>

    </div>
</section> -->




<section class=" text-secondary-100 h-[400vh] mt-48 relative" id="horisontalscrollsection">
    <ul id="horisontalliste" class="list-none flex sticky top-0">
        <li class="flex h-[100vh] w-[100vw] items-center justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
            <h3>Hvad er plastikforurening?</h3>
        </li>
        <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
            <article>
                <div class="grid md:grid-cols-2 mx-20">
                    <div class="grid md:justify-self-end md:w-3/4 mb-10 md:mb-0">
                        <h3 class="text-tertiary-100 italic mb-7">Vær med til World Cleanup Day</h3>
                        <p class="mb-5">Du er sammen i et globalt, handlekraftigt fællesskab for en renere verden.</p>
                        <p class="mb-7">I Danmark bliver det 6. år, at verdens største civile aktion finder sted, og selvfølgelig skal det finde sted tværs over hele landet.</p>
                        <a href="https://worldcleanupday.dk/"><p class="font-bold mb-10 md:mb-0">Læs mere her</p></a>
                    </div>
                    <div class="grid place-items-center items-center">
                        <img src="kloden.svg" alt="" class="w-1/2 lg:w-2/5">
                    </div>
                </div>
            </article>
        </li>
        <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
            <article>
                <div class="grid md:grid-cols-2 mx-20">
                    <div class="grid md:justify-self-end md:w-3/4 mb-10 md:mb-0">
                        <h3 class="text-tertiary-100 italic mb-7">Deltag i udvalgte events</h3>
                        <p class="mb-5">Du kan deltage i spændende events, oprydninger, oplæg eller andet, som der sker i landet.</p>
                        <p class="mb-7">Næste begivenhed: Strandrens ved Liseleje Strand.</p>
                        <a href="https://plasticchange.dk/events/__trashed-2/"><p class="font-bold mb-10 md:mb-0">Deltag her</p></a>
                    </div>
                    <div class="grid place-items-center items-center">
                        <img src="cykel.svg" alt="" class="w-1/2 lg:w-2/5">
                    </div>
                </div>
            </article>
        </li>
        <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
            <article>
                <div class="grid md:grid-cols-2 mx-20">
                    <div class="grid md:justify-self-end md:w-3/4 mb-10 md:mb-0">
                        <h3 class="text-tertiary-100 italic mb-7">Følg vores råd</h3>
                        <p class="mb-5">Gode råd du nemt kan bruge i hverdagen.</p>
                        <p class="mb-7">Vi kan alle sammen bidrage til at skære ned på plastikken i vores dagligdag. Vi har samlet 7 gode råd mod plastikspild her - lige til at printe ud og hænge op på køleskabet!</p>
                        <p class="font-bold mb-10 md:mb-0">Scroll videre</p>
                    </div>
                    <div class="grid place-items-center items-center">
                        <img src="pil.svg" alt="" class="w-1/3 md:w-1/4">
                    </div>
                </div>
            </article>
        </li>
    </ul>
</section>
<script>
    import {animate, stagger, inView, scroll, timeline} from "motion";

    const items = document.querySelectorAll("#horisontalliste li");
    scroll(
        animate("#horisontalliste", {
            transform: ["none", `translateX(-${items.length - 1}00vw)`]
        }),
        { target: document.querySelector("#horisontalscrollsection") }
    );
</script>