---
---


<section class="pb-24 -mt-48 ml-24">
    <div class="absolute -mt-96 ml-64 text-secondary-100">
        <h3>Hvad er plastikforurening?</h3>
        <p class="">“Lorem ipsum dolor sit amet consectetur. Commodo lacus nunc eget quis elit.”</p>
        <p>-Scelerisque Nulla,  suspendisse</p>
    </div>
</section>

